#root {
  width: 100%;
}

.buttons {
  margin: 20px 0 20px;
  text-align: center;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  transition: hover 0.3s;
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button:active {
  background-color: #313131;
}

.transitions-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  min-height: 60vh;
  position: relative;
}

.transitions-item {
  width: 20vw;
  height: 20vw;
  flex-shrink: 0;
  flex-basis: 20vw;
  will-change: transform;
  transition: left 1s;
  position: absolute;
}
